body {
  width: 300px;
  padding: 0.2rem;
}

#search_group {
  display: flex;
  justify-content: center;
}

#search_field {
  margin-left: 0.5em;
}

#btn_group { 
  display: flex;
  justify-content: center;
}

#btn_group button { 
  border: 1px solid skyblue; 
  background-color: rgba(0,0,0,0); 
  color: skyblue;
}

#prev_btn { 
  margin: 0.5em 1em 0em 1em;
} 

#next_btn { 
  margin: 0.5em 1em 0em 1em;
} 

#output_group {
  display: flex;
  justify-content: center;
}
